:root {
    --header-text-color : #FFFFFF;
    --nav-text-color : #181818;
    --red-text-color : #e8280b;
    --border-color : #ebebeb;

    --height-footer-top : 430px;
    --height-footer: 485px;
    --height-footer-bottom: calc(var(--height-footer) - var(--height-footer-top));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    line-height: 1.6rem;
}

/*  */
@keyframes fadeIn {
    from  {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*  */

header {
    width: 100%; 
    border-bottom: 1px solid #eaeaea;
}

.header-top {
    background-color: var(--red-text-color);
}

.header-top__row {
    flex-wrap: nowrap;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--red-text-color);
}

.header-left {
    display: flex;
}

.header-left__logo-link {
    height: 42px;
    text-decoration: none;
}

.header-left__logo {
    margin-top: 3px;
}

.header-left__language {
    display: flex;
    height: 42px;
    align-items: center;
    /* margin-top: -4px; */
    margin-left: 28px;
    cursor: pointer;
}

.header-left__language:hover {
    color: #f0ebeb;
}

.header-left__language-name,
.header-left__language-icon {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--header-text-color);
}

.header-left__language-icon {
    margin-left: 4px;
    border-radius: 50%;
    border: 1px solid var(--red-text-color);
}

.header-left__language:hover .header-left__language-name {
    color: #f0ebeb;
}

.header-left__language:hover .header-left__language-icon  {
    border: 1px solid #f0ebeb;
    color: #f0ebeb;
}

.header-left__language-icon i {
    padding: 3px 6px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right__login {
     font-size: 1.4rem;  
     text-decoration: none;  
     color: var(--header-text-color);  
}

.header-right__login:hover {
    color: #f0ebeb;
}

.header-right__btn {
    width: 177px;
    margin-left:28px;
    padding: 14px;
    border: none;
    cursor: pointer;
    background-color: var(--header-text-color);
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--nav-text-color);
    text-align: center;
    border-radius: 2px;
}

.header-right__btn:hover {
    background-color: #f0ebeb;
}

/* menu */

.navbar {
    height: 88px;
    background-color: #FFFFFF;
}

.navbar-row {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.menu__list {
    width: 100%;
    display: flex;
    list-style: none;  
}

.menu__item {
    padding-right: 24px;
    color: var(--nav-text-color);
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--nav-text-color);
    cursor: pointer;
    position: relative;
}

.menu__item::before {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    right: 0;
    width: 70px;
    height: 20px;
}

.menu__item:hover .home {
    display: block;
}

.menu__item:hover,
.menu__item-link:hover
{
    color: #ff0202;
}

.menu__item:first-child {
    color: #ff0202;
}

.menu__item-link {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--nav-text-color);
}

.menu__item-link i {
    /* padding: 5px 1px; */
    font-size: 1.4rem;
    color: #c2c2c2;
}

/* Home */

.home {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 0;
    width: 206px;
    background-color: var(--header-text-color);
    display: none;
    animation: fadeIn ease 0.1s;
}

.home__list {
    list-style: none;
    border: 1px solid #e6e8e9;
}

.home__item {
    font-size: 1.5rem;
    color: var(--nav-text-color);
    padding: 14px 0 14px 14px;
    margin: 0 10px; 
    border-top: 1px solid #e6e8e9;
}

.home__item:first-child {
    border-top: none;
}


/* .home__item:hover, */
.home__item:hover .home__item-link {
    color: #ff0202;
}

.home__item-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--nav-text-color);
   
}

.home__item-icon {
    font-size: 1.5rem;
    padding-top: 2px;
    float: right;
}

.home__item--hover {
    position: relative;
}

.home__item--hover {
    position: relative;
}

.home__item--hover::before {
    position: absolute;
    z-index: 2;
    content: "";
    top: 0;
    left: 170px;
    width: 45px;
    height: 45px;
}

.home__item--hover:hover .third  {
    display: block;
}


/* Third level item */
.third {
    position: absolute;
    z-index: 2;
    top: 0;
    right: -221px;
    width: 210px;
    background-color: var(--header-text-color);
    display: none;
}

.third__item {
    list-style: none;
    border: 1px solid #e6e8e9;
}

.third__list {
    font-size: 1.5rem;
    padding: 14px 0 14px 14px;
    margin: 0 10px; 
    border-top: 1px solid #e6e8e9;
}

.third__list:first-child {
    border-top: none;
}

.third__list:hover .third__item-link {
    color: #ff0202;
}

.third__item-link {
    text-decoration: none;
    color: var(--nav-text-color);
}

/* tablet and mobile nav */
.nav__bars-btn {
    display: none;
    margin-left: 10px;
    width: 32px;
    height: 32px;
    color: var(--nav-text-color);
}

.nav__bars-btn-icon {
    display: block;
    font-size: 3rem;
}

/* overlay tablet */
.nav__overplay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
    z-index: 2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* menu in tablet and mobile */
.nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #ffffff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
    z-index: 2;
}

.menu__list-mobile {
    margin-top: 24px;
}

.menu__item-mobile {
   list-style: none;
  
}

.menu__item-link-mobile {
    text-decoration: none;
    display: block;
    padding: 20px;
    font-size: 2rem;
    line-height: 2rem;
    color: var(--nav-text-color);
}

.nav__mobile-close {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 600;
    color: #666;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
}

.nav__input {
    display: none;
}

.nav__input:checked ~ .nav__overplay {
    display: block;
}

.nav__input:checked ~ .nav__mobile {
   transform: translateX(0%);
   opacity: 1;
}

/* btn search */
.header-search {
    display: flex;
    justify-content: space-between;
    width: 266px;
    border: 1px solid #b2b2b0;
    border-radius: 2px;
}

.header-search__input {
    padding: 10px;
    width: 220px;
    border: none;
    font-size: 1.4rem;
    outline: none;
    color: #b2b2b0;
}

.header-search__btn {
    cursor: pointer;
    width: 40px;
    padding: 10px 0;
    border: none;
    background-color: var(--header-text-color);
}

.header-search__btn i {
    font-size: 1.8rem;
}

/* Section */
section {
    margin-top: 30px;
    margin-bottom: 80px;
}

.content {
    border-bottom: 4px solid var(--border-color);
}

.mustreads {
    width: 100%;
}

.mustreads__img-link {
    text-decoration: none;
    /* width: 100%; */
}

.mustreads__img {
    width: 100%;
    height: 100%;
}

.mustreads__name {
    margin-top: 10px;
    font-size: 1rem;
    color: #a1a1b5;
}

.mustreads__title {
    display: block;
    margin-top: 10px;
    font-size: 4rem;
    font-weight: 500;
    line-height: 4rem;
    text-decoration: none;
    color: var(--nav-text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mustreads__title:hover ,
.mustreads__img:hover
{
    opacity: 0.8;
}

.mustreads__describe {
    /* display: inline-block; */
    margin-top: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mustreads__describe,
.mustreads__author {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--nav-text-color);
}

.mustreads__author {
    font-size: 1.2rem;
    margin-top: 18px;
}

.mustreads__author-link {
    text-decoration: none;
    color: var(--red-text-color);
}

.mustreads__author-link:hover {
    opacity: 0.8;
}

.mustreads__interact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 24px 0;
    width: 150px;
    padding: 16px;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
}

.mustreads__interact i {
    font-size: 1.4rem;
    color: #a1a1b5;
}

.mustreads__interact p {
    font-size: 1.4rem;
    color: var(--nav-text-color);
}

/* Tẹch */

.tech, .social{
    width: 100%;
    margin-bottom: 40px;
}

.tech__img , 
.social__img 
{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.tech__img:hover ,
.social__img:hover {
    opacity: 0.8;
} 


.tech__name,
.social__name {
    margin-top: 10px;
    font-size: 1rem;
    color: #a1a1b5;
}

.tech__describe-link,
.tech__describe, 
.social__describe {
    display: inline-block;
    margin-top: 8px;
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 400;
    color: var(--nav-text-color);
}

.social__describe,
.tech__describe-link {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tech__describe-link:hover,
.tech__describe:hover, 
.social__describe:hover {
    opacity: 0.8;
}

.tech__interact ,
.social__interact
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    width: 126px;
    padding: 12px;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
}

.tech__interact i ,
.social__interact i ,
.highlights__interact i
{
    font-size: 1.2rem;
    color: #a1a1b5;
}

.tech__interact p ,
.social__interact p ,
.highlights__interact p
{
    font-size: 1.2rem;
    color: var(--nav-text-color);
}

/* HIGHLIGHTS */

.content-highlights {
    margin-top: 16PX;
    border-bottom: 4px solid var(--border-color);
}

.highlights__title-name {
    margin-bottom: 18px;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2rem;
    color: var(--nav-text-color);
}

.highlights__interact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    width: 118px;
    padding: 12px;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
}

.tech__describe {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* EDITORS PICKS  */

.editors-picks {
    margin-top: 16PX;
    border-bottom: 4px solid var(--border-color);
}

.editors-picks__title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2rem;
    color: var(--nav-text-color);
}

.editors-picks__list {
   list-style: none;
}

.editors-picks__item {
    display: flex;
    padding: 30px 0 ;
    border-bottom: 1px solid var(--border-color);
}

.editors-picks__item:last-child {
    border-bottom: none;
}

.editors-picks__link {
    text-decoration: none;
}

.editors-picks__img {
    width: 172px;
    margin-right: 20px;
}

.editors-picks__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}   

.editors-picks__content-name {
    font-size: 1rem;
    color: #a1a1b5;
    margin-bottom: 10px;
}   

.editors-picks__content-title {
    text-decoration: none;
    font-size: 2rem;
    line-height: 2.3rem;
    font-weight: 500;
    color: var(--nav-text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editors-picks__content-describe {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    color: #2d3357;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editors-picks__info {
    display: flex;
    margin-top: 10px;
}

.editors-picks__info-author {
    font-size: 1.1rem;
    color: #2d3357;
    padding-right: 2px;
}

.editors-picks__info-author-link {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--red-text-color);
    padding-right: 2px;
}


.editors-picks__content-title:hover,
.editors-picks__link:hover,
.editors-picks__info-author-link:hover{
    opacity: 0.8;
}

.editors-picks__info-time {
    font-size: 1.1rem;
    color: #b7bdcf;
}

/* POPULAR POSTS */

.popular-posts {
    margin-top: 18px;
}

.popular-posts__title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2rem;
    color: var(--nav-text-color);
    margin-bottom: 20px;
}

.popular-posts__img-link {
    text-decoration: none;
    display: block;
}

.popular-posts__img-link:hover {
    opacity: 0.8;
}

.popular-posts__img {
    width: 100%;
}

.popular-posts-info {
    margin: 16px 0;
}

.popular-posts-info__name {
    font-size: 1.2rem;
    font-weight: 400;
    color: #a1a1a1;
    margin-bottom: 12px;
}

.popular-posts-info__link {
    text-decoration: none;
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 500;
    color: var(--nav-text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popular-posts-info__link:hover {
    opacity: 0.8;
}

.popular-posts-info__describe {
    margin-top: 12px;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 300;
    color: var(--nav-text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popular-posts-info__author {
    margin-top: 12px;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 400;
    color: var(--nav-text-color);   
}

.popular-posts-info__author-link {
    text-decoration: none;
    color: var(--red-text-color);
}

.popular-posts-info__author-link:hover {
    opacity: 0.8;
}

.popular-posts__interact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    width: 133px;
    padding: 12px;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
}

.popular-posts__interact i {
    font-size: 1.2rem;
    color: #a1a1b5;
}

.popular-posts__interact p {
    font-size: 1.2rem;
    color: var(--nav-text-color);
}

/*  */
.posts-right {

}

.posts-right__list {
    list-style: none;
}

.posts-right__item {
   padding: 14px 14px 14px 0;
   border-bottom: 1px solid #c2c2c2;   
   display: flex;
}

.posts-right__item:first-child {
    padding-top: 0;
}

.posts-right__item:last-child {
    border-bottom: none;
}

.posts-right__link {
    text-decoration: none;
}

.posts-right__link:hover,
.posts-right__describe:hover
 {
    opacity: 0.8;
}

.posts-right__img {
    width: 110px;
    height: 78px;
    margin-right: 16px;
}

.posts-right__info {

}

.posts-right__describe {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--nav-text-color);
    line-height: 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.posts-right__time {
    font-size: 1.3rem;
    margin-top: 8px;
    color: #959595;
    font-weight: 300;
}  

.posts-right__link:hover .posts-right__time {
    opacity: 1;
}

/*  */
/* RECENT POSTS */

.recent-post {
    border: 1px solid var(--border-color);
    padding: 26px;
    border-radius: 2px;
}

.recent-post__name {
    font-size: 2.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    color: var(--red-text-color);
}

.recent-post__list {
    margin-top: 30px;
    list-style: none; 
}

.recent-post__item {
    display: flex;
    padding-bottom: 22px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--border-color);
}

.recent-post__item:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom:0;
}

.recent-post__link {
    display: flex;
    text-decoration: none; 
}

.recent-post__item:hover .recent-post__link ,
.recent-post__item:hover .recent-post__describe
{
    opacity: 0.8;
}

.recent-post__img {
    width: 110px;
    height: 76px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.recent-post__describe {
    text-decoration: none;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--nav-text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recent-post__time {
    font-weight: 300;
    margin-top: 12px;
    font-size: 1.3rem;
    color: #959595;
}


/* ADVERTISEMENT */

.advertisement {
    margin-top: 30px;
}

.advertisement__img {
    width: 100%;
    height: 100%;
}

.advertisement__name {
    float: right;
    font-weight: 300;
    font-size: 1.2rem;
    color: #959595;
}

/* MOST POPULAR */

.most-polular {
    margin-top: 36px;
    border: 1px solid var(--border-color);
    padding: 26px;
    border-radius: 2px;
}

.most-polular__name {
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: var(--red-text-color);
}

.most-polular__list {
    list-style: none;
    margin-top: 10px;
}

.most-polular__item {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}

.most-polular__item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.most-polular__number {
    font-size: 1.4rem;
    margin-right: 20px;
    color: var(--red-text-color);
}

.most-polular__link {
    /* display: block; */
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--nav-text-color);
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.most-polular__link:hover {
    opacity: 0.8;
}

/* ACTIVATE */
.activate {
    margin-top: 36px;
}

.tabs {
    display: flex;
}

.activate__title {
    position: relative;
    padding: 16px;
    border: 1px solid var(--border-color);
    background-color: #f5f5f5;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--nav-text-color);
    border-radius: 2px;
    margin-left: 4px;
}

.activate__title:nth-child(1) {
    background-color: #e6e8e9;
}

.activate__title:hover {
    background-color: #e6e8e9;
}

.activate__title:hover .comments__list  {
    display: block;
}

.comments__list {
    position: absolute;
    z-index: 1;
    width: 382px;
    top: 50px;
    left: 0;
    list-style: none;
    border: 1px solid var(--border-color);
    /* display: none; */
    border-radius: 2px;
}

.comments__item {
    padding: 0 16px;
}

.comments__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 16px 0;
    border-bottom: 1px solid var(--border-color);
}


.comments__icon {
    font-size: 5rem;
    color: #eaeaea;
    margin-right: 10px;
}

.comments__link:hover .comments__icon {
    color: #b2b2b0;
}

.comments__link:hover .comments__describe {
    opacity: 0.8;
}

.comments__describe {
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: var(--nav-text-color);
    font-weight: 300;
}

.comments__describe span {
    color: #c6b7b7;
    cursor: default;
}

/* Follow us */

.follow {
    margin-top: 450px;
    border: 1px solid var(--border-color);
    padding: 28px;
    border-radius: 2px;
}

.follow__title {
    font-size: 2rem;
    font-weight: 400;
    color: var(--nav-text-colors);
}

.follow__list {
    margin-top: 28px;
    display: flex;
}

.follow__item {
    width: 46px;
    height: 46px;
    margin-right: 12px;
    border-radius: 2px;
    background-color: #3c5a9b;
    transition: transform linear 0.1s;
    
}

.follow__item:hover {
    
    transform: translateY(-1px);
    opacity: 0.8;
}

.follow__item--discoloration {
    background-color: #1fc1f1;
}

.follow__item--discoloration-google {
    background-color: #df4932;
}

.follow__item--discoloration-youtube {
    background-color: #cf1312;
}

.follow__item--discoloration-linked {
    background-color: #007bb9;
}

.follow__item--discoloration-tiktok {
    background-color: #2b4763;
}

.follow__link {
    display: block;
    color: var(--header-text-color);
    line-height: 46px;
    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;
     
}

/*  Archives */

.archives {
    margin-top: 30px;
    border: 1px solid var(--border-color);
    padding: 28px;
    border-radius: 2px;
}

.archives__title {
    font-size: 2rem;
    font-weight: 400;
    color: var(--nav-text-colors);
    margin-bottom: 15px;
}

.archives__list {
    list-style: none;
}

.archives__item {
    padding: 14px;
    border-bottom: 1px solid var(--border-color);
}

.archives__item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.archives__item:hover {
    opacity: 0.8;
}

.archives__item-link {
    display: block;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--nav-text-color);
    text-decoration: none;
}

.archives__item-link  span {
    color: #acb3c8;
    cursor: default;
}

/* GOOD NEWS NEWSETTER */


.good-news {
    margin-top: 30px;
    border: 1px solid var(--border-color);
    padding: 28px;
    border-radius: 2px;
}

.good-news__title {
   font-size: 2rem;
   font-weight: 400;
   color: var(--red-text-color);
}

.good-news__describe {
    margin-top: 26px;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 300;
    color: var(--nav-text-color);
}

.good-news-email {
    width: 100%;
    margin-top: 26px;
    border-radius: 2px;
    border: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between; 
}

.good-news-email__input {
    width: 70%;
    height: 42px;
    padding: 12px;
    font-size: 1.4rem;
    color: #bbbbbb;
    border: none;
    outline: none;
    margin-right: 0;
}

.good-news-email__btn {
    width: 29%;
    height: 43px;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 1.6rem;
    color: var(--header-text-color);
    background-color: var(--red-text-color);
    cursor: pointer;
}

.good-news-email__btn:hover {
    opacity: 0.8;
}

/* SLIDESHOW */

.slide {
    width: 100%;
    margin-top: 56px;
    border-bottom: 4px solid var(--border-color);
}

.slideshow {
    position: relative;
    width: 100%;
    height: 670px;
    background-image: url(../images/slide3.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.slideshow__img {
    margin-top: 240px;
    width: 100%;
    height: 431px;
    object-fit: cover;
}

.slideshow-info {
    position: absolute;
    display: flex;
    align-items: center;
    width: 66%;
    height: 120px;
    left: 0;
    bottom: 0;
    padding: 26px;
    background-color: #181818;
}

.slideshow-info__name {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 300;
    color: var(--header-text-color);
}

.slide-page {
   margin-top: 20px;
}

.slide-page__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 56px;
}

.slide-page__item {
    padding: 10px;
    cursor: pointer;
}

.slide-page__item:nth-child(2) .slide-page__link {
    color: #181818;
}

.slide-page__link {
    font-size: 1.4rem;
    color: #e1e1e1;
}

.slide-page__item:hover .slide-page__link {
    color: #181818;
}

/* TRENDING */

.trending {
    margin-top: 18px;
    border-bottom: 4px solid var(--border-color);
}

.trending__title {
    font-size: 2rem;
    font-weight: 400;
    color: var(--nav-text-color);
}

.trending-col {
    margin-top: 24px;
}

.trending__img-link {
   display: block;
}

.trending__img-link:hover{
    opacity: 0.8;
}

.trending__img {
    width: 100%;
    height: 165px;
}

.trending__list {
    list-style: none;
    margin-bottom: 57px;
}

.trending__item {
    padding: 24px 24px 24px 0;
    border-bottom: 1px solid var(--border-color);
}

.trending__item:first-child .trending__item-link {
    font-weight: 600;
    font-size: 1.6rem;
}

.trending__item:hover .trending__item-link{
    opacity: 0.7;
}


.trending__item-time {
    font-weight: 400;
    font-size: 1.3rem;
    color: #b7b7b7;
    padding-bottom: 4px;
}

.trending__item-link {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem; 
    color: var(--nav-text-color); 
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* SOCIAL MEDIA */

.social-media {
    width: 100%;
}

.social-media__title {
    margin-top: 16px;
    font-size: 2rem;
    font-weight: 400;
    color: var(--nav-text-color);
}

.social-media__list {
    list-style: none;
}

.social-media__item {
    display: flex;
    padding: 20px 0;
}

.social-media__img-link {
    display: block;
    text-decoration: none;
}

.social-media__img-link:hover {
    opacity: 0.8;
}

.social-media__img {
    width: 364px;
    height: 244px;
    margin-right: 20px;
}

.social-media__content {
    width: 370px;
}

.social-media__content-name {
    font-size: 1.1rem;
    line-height: 1.1rem;
    color: #a1a1b5;
    margin-bottom: 12px;
}

.social-media__content-title {
    text-decoration: none;
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 600;
    color: var(--nav-text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.social-media__content-title:hover {
    opacity: 0.7;
}

.social-media__content-describe {
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 300;
    color: #2d3357;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.social-media__interact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    width: 132px;
    padding: 12px;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
}

.social-media__interact i {
    font-size: 1.2rem;
    color: #a1a1b5;
}

.social-media__interact p {
    font-size: 1.2rem;
    color: var(--nav-text-color);
}

/* FOOTER */

footer {   
    height: var(--height-footer);
    background-color: #252525;
}

.footer-top {
   height: var(--height-footer-top);
}

.company-info {
    margin-left: -12px;
    padding-top: 45px;
}

.company-info__img {
    width: 200px;
    height: 36px;
}

.company-info__describe {
    margin-top: 20px;
    padding-bottom: 34px;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 2rem;
    color: #a1b0b3;
    border-bottom: 3px solid #2d2d2d;
}

.company-info__title {
    margin-top: 34px;
    font-size: 1.7rem;
    line-height: 1.7rem;
    color: var(--header-text-color);
}

.company-info__contact {
    display: flex;
    margin-top: 26px;
}

.company-info__contact-link {
    /* display: block; */
    width: 40px;
    height: 40px;
    background-color: #333333;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    margin-right: 8px;
    font-size: 1.6rem;
    border-radius: 2px;
}

.company-info__contact-link:hover {
    opacity: 0.8;
}

.company-info__contact-link i {
   color: #848484;
}

.company-info__email-link {
    display: block;
    margin-top: 18px;
    font-size: 1.2rem;
    color: #a1b0b3;
    text-decoration: none;
}

.company-info__email-link:hover {
    color: var(--red-text-color);
}

/* twitter */

.twitter {
    margin-top: 62px;
}

.twitter__title {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--header-text-color);
}

.twitter__list {
    margin-top: 16px;
    list-style: none;
}

.twitter__item {
    padding: 16px 0;
}

.twitter__item:hover .twitter__question-link {
    opacity: 0.8;
}

.twitter__question-link {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
    color: #aeafb2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.twitter__time {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #626262;
}

/* main */

.col-right {
    margin-top: 62px;
}


.main__title {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--header-text-color);
}

.main__list {
    list-style: none;
    margin-top: 10px;
}

.main__item {
    border-bottom: 3px solid #2d2d2d;
}

.main__item:hover .main__item-link {
    opacity: 0.8;
}

.main__item-link {
    display: block;
    padding: 14px 0;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
    color: #aeafb2;
}

/*  */
.footer-bottom {
    width: 100%;
    height: var(--height-footer-bottom);
    background-color: #1e1e1e;
}

.row-bottom__name {
    display: block;
    margin-left: -12px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: var(--height-footer-bottom);
    color: #949494;
}








