
/* PC */
@media (min-width : 1024px) {
    
}

/*  Mobile & tablet*/
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .nav__bars-btn {
        display: block;
    }

    .trending__img {
        height: 100%;
    }
}

/* tablet */
@media (min-width : 740px) and (max-width: 1023px) {
    :root {
        --height-footer-top : 720px;
        --height-footer: 780px;
        --height-footer-bottom: calc(var(--height-footer) - var(--height-footer-top));
    }
    .hide-on-tablet {
        display: none;
    }

    .header-search {
        width: 80%;

    }
    
    .social-media__content {
        width: 50%;
    }

}

/* Mobile */
@media (max-width:739px) {
    :root {
        --height-footer-top : 1060px;
        --height-footer: 1100px;
        --height-footer-bottom: calc(var(--height-footer) - var(--height-footer-top));
    }

    .hide-on-mobile {
        display: none;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px; 
    }

    .header-search {
        margin-right: 8px;
    }

    .header-left {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .social-media__content {
        width: 50%;
    }

    .social-media__content {
        width: 100%;
    }

    .social-media__item {
        display: block;
        width: 100%;
    }

    .social-media__img-link {
        width: 100%;
    }
    
    .social-media__img {
        width: 100%;
        margin-right: 0;
    }

    .comments__list {
        width: 360px;
    }

    .slide {
        padding: 0 4px;
    }

    .slideshow-info__name {
        font-size: 2rem;
        line-height: 2rem;
    }

    .trending__title {
        padding-left: 4px;
    }

   

    .social-media {
        margin: 4px;
    }


    /* footer */
    .company-info {
        margin-left: 0px;
    }

    .footer-top {
        text-align: center;
    }

    .company-info__contact {
        justify-content: center;
    }

    .footer-bottom {
        text-align: center;
    }

    
}